<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <header th:insert="base :: header"></header>
    <style>
        body{
            background: url("https://res.cloudinary.com/drpyvuhac/image/upload/v1569530630/fall-1072821_1920_0_oryogc.jpg");
            background-size: cover;
        }
        .jumbotron{
            background-color: rgba(255 255 255 0.6);
        }

    </style>
</head>
<body>
<nav th:replace = "base :: navlinks"></nav>
<div class = "container">
    <div class="jumbotron">
        <h1 class="display-4">Student Sign Up</h1>
        <form  action="#" th:action="@{/studentConfirm}" th:object="${studentInfo}" method="post">
            <div class="form-row">
                <div class="col">
                    <label >First Name</label>
                    <input type="text" th:field="*{firstName}"  class="form-control" placeholder="First name"/>
                    <span th:if="${#fields.hasErrors('firstName')}"
                          th:errors="*{firstName}"></span>
                </div>
                <div class="col">
                    <label for="inputAddress2">Last Name</label>
                    <input type="text" th:field="*{lastName}" class="form-control" placeholder="Last name"/>
                    <span th:if="${#fields.hasErrors('lastName')}"
                          th:errors="*{lastName}"></span>
                    <br/>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Email</label>
                    <input type="email" th:field="*{email}" class="form-control" id="inputEmail4" placeholder="Email">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">Password</label>
                    <input type="password" th:field="*{password}" class="form-control" id="inputPassword4" placeholder="Password"/>
                    <span th:if="${#fields.hasErrors('password')}"
                          th:errors="*{password}"></span>
                </div>
            </div>
            <div class="form-group">
                <label for="inputAddress">Address</label>
                <input type="text" th:field="*{address}" class="form-control" id="inputAddress" placeholder="1234 Main St">
                <span th:if="${#fields.hasErrors('address')}"
                      th:erros="*{address}"></span>
            </div>
            <div class="form-group">
                <label for="inputAddress2">Address 2</label>
                <input type="text" th:field="*{address2}" class="form-control" id="inputAddress2"
                       placeholder="Apartment, studio, or floor">
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputCity">City</label>
                    <input type="text" th:field="*{city}" class="form-control" id="inputCity">
                    <span th:if="${#fields.hasErrors('city')}"
                          th:errors="*{city}"></span>
                </div>
                <div class="form-group">
                    <select class="custom-select" required>
                        <option value="">Open this select menu</option>
                        <option value="1">DC</option>
                        <option value="2">MD</option>
                        <option value="3">VA</option>
                    </select>
                    <div class="invalid-feedback">Example invalid custom select feedback</div>
                </div>
<!--                <div class="form-group col-md-4">-->
<!--                    <label  for="inputState">State</label>-->
<!--                    <select  id="inputState" class="form-control"  >-->
<!--                        <option selected>> Choose..</option>-->
<!--                        <option>DC</option>-->
<!--                        <option>MD</option>-->
<!--                        <option>VA</option>-->
<!--                    </select>-->
<!--                    <span th:if="${#fields.hasErrors('state')}"-->
<!--                          th:errors="*{state}"></span>-->
<!--                </div>-->
                <div class="form-group col-md-4">
                    <label for="inputZip">Zip</label>
                    <input type="text" th:field="*{zipcode}" class="form-control" id="inputZip">
                    <span th:if="${#fields.hasErrors('zipcode')}"
                          th:errors="*{zipcode}"></span>
                </div>
            </div>
            <div class="custom-file">
                <label for="inputAddress2">Attach Resume</label>
                <input type="file" class="custom-file-input" id="validatedCustomFile" required>
                <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
                <div class="invalid-feedback">Example invalid custom file feedback</div>
            </div>

            <button type="submit" class="btn btn-primary">Sign in</button>
        </form>

    </div>
</div>

<footer th:insert="base :: footer"></footer>
<div th:insert="base :: scripts"></div>
</body>
</html>